body {
  /* margin: 0px 100px; */
  padding: 0px 100px;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  background-color: rgb(67, 67, 252);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 16px;
}

.websiteLogo {
  border-radius: 50%;
  /* object-fit: cover; */
  
  width: 60px;
  height:  60px; 
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  /* padding: 16px 16px; */
}

.header,
.footer,
.main1,
.main3,
.main4 {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  /* border: 1px solid red; */
}

.header {
  background-color: rgb(50, 60, 88);
  color: white;
  height: 72px;
  font-size: 20px;
  font-weight: 900;
  padding: 0 8px;
}

.leftLink, 
.rightLink {
  display: flex;
  align-items: center;
}

.rightLink ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rightLink ul {
  display: flex;
  gap: 16px;
}

.main1 {
  align-items: center;
  gap: 20px;
  padding: 16px 48px;
  background-color: rgb(50, 60, 88);
  color:white;
}

img {max-width:100%;}

.main1Title {
  font-size: 32px;
  font-weight: 900;
}

h1 {
  text-align: center;

}

.cardContainer {
  display: flex;
  gap: 40px;
  /* flex: wrap; */
  padding: 12px 96px;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 16px;
  height: 400px;
}
.card {
  width: 120px;
  height: 120px;
}


/* TODO: Make round box, image auto scale to fill the box

*/
.cardContainer img {
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 12px;
  padding: 0px;
  display: block;
  margin: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* card {
  display: flex;
  object-fit: contain;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 300px;
  margin: 16px;
}

.card p {

  
} */

.main3 {
  background-color: rgb(213, 213, 214);
  height: fit-content;
  font-size: 24px;
  flex-direction: column;
  margin: 0px -60px ;
  padding: 48px 72px;

}

.main3 .author {
  font-size: 36px;
  text-align: right;
  padding: 0px 64px 0px 0px;
}

.main4 {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 13px;
  padding: 16px;
  background-color: cornflowerblue;
  margin: 16px;
  text-align: center;
  font-size: 38px;
  font-family: -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
   'Open Sans', 'Helvetica Neue', sans-serif;

  }